name: CI
on:
    push:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:

            

            - name: print  my name 
              ru    n : echo Aman kumar rathi