name: CI
on:
    push:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:

            - name: Run a one-line script
              run: echo Hello, world!

            - name: print  my name 
              ren : echo Aman kumar rathi