name: name
on:
    push:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:

            - name: print  my name 
              run : echo Aman kumar rathi && whoami
